<h1>New order placed in <%= @order.store.name %></h1>
<p>
  Products:
</p>
<ul>
  <% @order.products.each do |product| %>
  <li><%= product.name %></li>
  <% end %>
</ul>
<br>
<p>
  <b>Total: <%= @order.price %></b>
</p>